.dropdown_language{
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 16px;
    margin-right: 12px;
}
.button_navbar{
    background-color: white;
    border: 0px;
    border-radius: 16px;
    color: black;
}
.button_navbar:hover{
    background-color: white;
    border: 0px;
    border-radius: 16px;
    color: black;
}